<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="учебный проект на Django">
    <meta name="keywords" content="">
    <title>

      {% block title %}
        Local Library
      {% endblock title %}

    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
    {% load static %}

    <link rel="stylesheet" href="{% static 'catalog/css/style.css' %}">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-3">

          {% block sidebar %}
            <ul class="sidebar-nav">
              <li>
                <a href="{% url 'index' %}">Главная</a>
              </li>
              <li>
                <a href="{% url 'books' %}">Все книги</a>
              </li>
              <li>
                <a href="{% url 'authors' %}">Все авторы</a>
              </li>
            </ul>
          {% endblock sidebar %}

        </div>
        <div class="col-9 mt-3">

          {% block content %}
          {% endblock content %}

          {% block pagination %}
            {% if is_paginated %}
              <nav>
                <ul class="pagination">
                  <li class="page-item
                             {% if not page_obj.has_previous %}disabled{% endif %}">
                    <a class="page-link"
                       {% if page_obj.has_previous %}href="{{ request.path }}?page={{ page_obj.previous_page_number }}{% endif %}
                       ">Назад</a>
                  </li>
                  {% for page in paginator.page_range %}
                    <li class="page-item">
                      <a class="page-link
                                {% if page_obj.number == page %}active{% endif %}"
                         href="{{ request.path }}?page={{ page }}">{{ page }}</a>
                    </li>
                  {% endfor %}
                  <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                    <a class="page-link"
                       {% if page_obj.has_next %}href="{{ request.path }}?page={{ page_obj.next_page_number }}{% endif %}
                       ">Далее</a>
                  </li>
                </ul>
              </nav>
            {% endif %}
          {% endblock pagination %}

        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
            crossorigin="anonymous"></script>
  </body>
</html>
